span {
  margin-inline: 5px;
}
.row {
  border: 1px solid black;
}
.row > div {
  border: 1px solid black;
}
#container .meta-header,
#container .meta-header > div {
  border: none;
}
.meta-header {
  background-color: aliceblue;
}
#header-date {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
.task {
  margin-top: 25px;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.time {
  margin-top: 5px;
}
.times-col {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Option 3: List */
.soldiers-list {
  margin: 0;
  padding-left: 20px;
}
.soldier-item {
  margin: 5px 0;
}
.task-title {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

#search-input {
  border-radius: 5px;
  font-size: 1.05rem;
  padding: 3px;
  max-width: calc(100% - 20px); /* Subtracting padding/margin */
  box-sizing: border-box;
  margin: 0 10px;
  min-width: 160px;
}
input {
  width: 100%;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

/* Specific styles for date input */
input[type="date"] {
  min-width: 160px; /* Minimum width to show date properly */
  max-width: calc(100% - 20px);
  font-size: 0.9rem; /* Slightly smaller font size */
}

.meta2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-block: 10px;
  margin-bottom: 10px;
}

#soldierDetailModal {
  position: fixed;
  top: 25%;
  left: 15%;
  width: 70%;
  height: 50%;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25);
  background-color: rgba(192, 227, 255, 0.888);
  display: flex;
  align-items: center;
  justify-content: center;
}

.soldier-detail {
  font-size: 1.5rem;
}
